openapi: 3.1.0
info:
  title: FirmScout API
  version: "1.0.0-mvp"
  summary: >-
    Version metadata catalogue with provenance for firmware, BIOS, BMC
    firmware, drivers, embedded operating systems, and appliance software.
  description: >-
    Human-readable design lives in docs/architecture/api.md, which is
    authoritative when this document and that one could be read as
    disagreeing. This document covers the MVP read endpoints only; write
    endpoints (corrections, webhooks, inventory upload) are a later phase
    and are not described here.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  contact:
    name: FirmScout
    url: https://firmscout.dev
externalDocs:
  description: Full API design document
  url: ../architecture/api.md
# The /api/v1 prefix repeats what the `api.` hostname already says. That is deliberate,
# not an oversight: keeping it means the route is byte-for-byte identical in every
# environment, so no layer strips or adds a prefix depending on where it is deployed.
# Before "tidying" this to api.firmscout.dev/v1, read docs/adr/0019-public-domain-shape.md.
servers:
  - url: https://api.firmscout.dev/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development (docker compose)

tags:
  - name: search
    description: Full-text and alias search over products and vendors.
  - name: vendors
    description: Vendor catalogue.
  - name: products
    description: Product catalogue, releases, and advisories.
  - name: releases
    description: Immutable, evidence-backed release facts.
  - name: system
    description: Operational endpoints outside the versioned API surface.

paths:
  /search:
    get:
      operationId: search
      tags: [search]
      summary: Search products and vendors
      description: >-
        Full-text and alias search. Anonymous requests are permitted and
        rate-limited more tightly than keyed requests.
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: >-
            Search query, 2-200 characters. A shorter query matches most of
            the catalogue and is refused; a longer one is truncated to 200
            bytes of UTF-8 on a character boundary rather than rejected.
          schema:
            type: string
            minLength: 2
            maxLength: 200
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Search results.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            X-RateLimit-Limit: { $ref: "#/components/headers/XRateLimitLimit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/XRateLimitRemaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/XRateLimitReset" }
            Cache-Control: { $ref: "#/components/headers/CacheControlShort" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /vendors:
    get:
      operationId: listVendors
      tags: [vendors]
      summary: List vendors
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A page of vendors.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            Cache-Control: { $ref: "#/components/headers/CacheControlLong" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendorListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /vendors/{slug}:
    get:
      operationId: getVendor
      tags: [vendors]
      summary: Get a vendor by slug
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/VendorSlug"
      responses:
        "200":
          description: The vendor.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            ETag: { $ref: "#/components/headers/ETag" }
            Cache-Control: { $ref: "#/components/headers/CacheControlLong" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vendor"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /products/{slug}:
    get:
      operationId: getProduct
      tags: [products]
      summary: Get a product by slug
      description: >-
        One route serves software products and hardware models alike. A
        hardware model is a product whose `modelIdentifier` is the vendor's
        published product code; it usually publishes no release stream of
        its own, so `latestRelease` is null and `runs` names the operating
        system whose releases are the ones being looked for.


        `firmwareApplicability` is always present and answers two
        independent questions. `verified`/`basis` answer "which of another
        product's releases apply to this exact model" — for a device,
        `{"verified": false, "basis": "runs_os_unverified"}`: FirmScout
        records that the device runs that operating system and has **not**
        established which of its releases are the right image for this
        exact model. `ownReleases` separately answers "are the releases in
        this response this product's own". The two are kept apart because a
        product can be both a hardware model and its own release stream — a
        rack server is a device AND publishes BIOS versions — and a single
        scalar made the device half vouch for the operating-system half.
        Reading the operating system's `latestRelease` as this device's
        answer is the mistake this object exists to prevent. See ADR-0024.
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductSlug"
      responses:
        "200":
          description: The product, including a latest-release summary.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            ETag: { $ref: "#/components/headers/ETag" }
            Cache-Control: { $ref: "#/components/headers/CacheControlLong" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /products/{slug}/releases:
    get:
      operationId: listProductReleases
      tags: [products, releases]
      summary: List releases for a product
      description: >-
        Free and anonymous responses are windowed to the most recent 12
        months regardless of limit/cursor reach; Professional and above
        receive unwindowed, complete history. The response's `window`
        member states which was applied, so a truncated history is never
        mistaken for a short one, and `window.latestOutsideWindow` says
        when an empty page is the window's doing rather than a product
        that never shipped.


        The window is applied by the query. The `channel` and
        `releaseType` filters are not: they narrow the page after the
        query has run and after its next cursor was minted, so **a
        filtered page can be empty while `nextCursor` is non-null**.
        Page until `nextCursor` is null rather than stopping at the first
        empty page.


        **Sorting is page-local.** Pagination is always by first-observed
        time descending, which is the pair the cursor is built from.
        `sort` and `order` reorder the rows within each returned page and
        do not change which rows fall on which page, so `order=asc`
        returns the newest page first with its rows ascending inside it.
        A consumer that needs the whole history in a particular order must
        page to the end and sort the result.
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductSlug"
        - name: channel
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Channel"
        - name: releaseType
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: >-
            Releases are never sorted by version string (blueprint 3.5,
            ADR-0017) -- only these two fields are valid sort keys.
            Applied to each returned page, not to the history: see the
            endpoint description.
          schema:
            type: string
            enum: [releaseDate, firstObservedAt]
            default: releaseDate
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A page of releases.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            Cache-Control: { $ref: "#/components/headers/CacheControlMedium" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /products/{slug}/latest:
    get:
      operationId: getLatestRelease
      tags: [products, releases]
      summary: Get the latest observed release for a product
      description: >-
        The answer to "what version should I be on?", with the two members
        that make it honest: `hasSourceConflict`, true when eligible
        sources disagree about this product and no human has resolved it
        (ADR-0020), and `recommendedRelease`, the vendor's own designation
        or null when it never made one.


        This endpoint is never windowed. A plan bounds how much *history*
        a caller receives; the newest observed release is the current
        answer, not history, and reporting "no published release" for a
        discontinued product that plainly has one would be false. An
        anonymous caller can therefore see a release here and an empty
        page from /products/{slug}/releases: that page says so through
        `window.latestOutsideWindow`.


        A hardware model with no release stream of its own answers **404
        here, by design**. No release is mapped to it, and inheriting its
        operating system's newest version would tell an operator to flash
        an image FirmScout never established their hardware takes. The
        product response's `runs` array says where the releases actually
        are. See ADR-0024.
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ProductSlug"
        - name: channel
          in: query
          required: false
          description: Restrict to the latest release on a specific channel.
          schema:
            $ref: "#/components/schemas/Channel"
      responses:
        "200":
          description: The latest observed release.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            ETag: { $ref: "#/components/headers/ETag" }
            Cache-Control: { $ref: "#/components/headers/CacheControlMedium" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestReleaseResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /releases/{id}:
    get:
      operationId: getRelease
      tags: [releases]
      summary: Get one immutable release by id
      security:
        - {}
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^rel_[A-Za-z0-9]{20,32}$"
      responses:
        "200":
          description: The release. Immutable once published; cacheable forever.
          headers:
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
            ETag: { $ref: "#/components/headers/ETag" }
            Cache-Control: { $ref: "#/components/headers/CacheControlImmutable" }
            Vary: { $ref: "#/components/headers/Vary" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Release"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # The three infrastructure endpoints are served from the host root, not from under
  # /api/v1: they are not part of the versioned contract and never change with it. The
  # path-level `servers` override says so precisely, rather than leaving a reader to
  # infer that one path in this document ignores the document's own base URL.
  /healthz:
    servers:
      - url: https://api.firmscout.dev
        description: Production (infrastructure endpoints sit outside /api/v1)
      - url: http://localhost:8080
        description: Local development
    get:
      operationId: healthz
      tags: [system]
      summary: Liveness probe
      description: >-
        Answers 200 unconditionally and touches no dependency. A liveness
        probe that checked the database would restart every instance during
        a database incident, turning a degraded read path into a crash loop.
        Readiness answers the other question.
      security: []
      responses:
        "200":
          description: The process is up.
          headers:
            Cache-Control: { $ref: "#/components/headers/CacheControlNoStore" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"

  /readyz:
    servers:
      - url: https://api.firmscout.dev
        description: Production (infrastructure endpoints sit outside /api/v1)
      - url: http://localhost:8080
        description: Local development
    get:
      operationId: readyz
      tags: [system]
      summary: Readiness probe
      description: >-
        Runs the deployment's readiness gate, in production a database ping,
        and answers 503 with a problem document when it fails so a load
        balancer takes the instance out of rotation without the process
        being restarted.
      security: []
      responses:
        "200":
          description: This instance can serve traffic.
          headers:
            Cache-Control: { $ref: "#/components/headers/CacheControlNoStore" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: A dependency required to serve requests is unavailable.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /metrics:
    servers:
      - url: https://api.firmscout.dev
        description: Production (infrastructure endpoints sit outside /api/v1)
      - url: http://localhost:8080
        description: Local development
    get:
      operationId: metrics
      tags: [system]
      summary: Prometheus exposition
      description: >-
        The scrape endpoint. It is neither authenticated, metered nor rate
        limited -- a probe that gets a 429 during an incident makes the
        incident worse -- and it is expected to be reachable only from the
        monitoring network.
      security: []
      responses:
        "200":
          description: The Prometheus text exposition.
          content:
            text/plain:
              schema:
                type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        "Bearer <api key>". Optional on read endpoints (raises the
        rate-limit and quota tier); required on write and bulk endpoints
        not described in this MVP document.

  parameters:
    VendorSlug:
      name: slug
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      example: mikrotik
    ProductSlug:
      name: slug
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      example: mikrotik-routeros

  headers:
    XRequestId:
      description: Echoed or generated request correlation id.
      schema:
        type: string
    ETag:
      description: Entity tag for conditional requests.
      schema:
        type: string
    CacheControlShort:
      description: >-
        Short-lived cache policy (search results), for an anonymous caller.
        A request that presented a credential receives "private, no-store"
        instead -- see CacheControlAuthenticated.
      schema:
        type: string
        example: "public, max-age=60"
    CacheControlMedium:
      description: >-
        Medium cache policy, invalidated on publish, for an anonymous
        caller. A request that presented a credential receives
        "private, no-store" instead -- see CacheControlAuthenticated.
      schema:
        type: string
        example: "public, max-age=300"
    CacheControlLong:
      description: >-
        Long cache policy, invalidated on publish, for an anonymous caller.
        A request that presented a credential receives "private, no-store"
        instead -- see CacheControlAuthenticated.
      schema:
        type: string
        example: "public, max-age=3600"
    CacheControlImmutable:
      description: >-
        Immutable, cacheable forever, for an anonymous caller. A request
        that presented a credential receives "private, no-store" instead:
        the rule is uniform across endpoints because a per-endpoint
        exception fails silently when it is wrong, and even an immutable
        body ships with that caller's own rate-limit and quota counters.
      schema:
        type: string
        example: "public, max-age=31536000, immutable"
    CacheControlAuthenticated:
      description: >-
        What every cacheable endpoint returns when the request presented an
        Authorization bearer token or an X-API-Key, whatever the route's own
        policy is. Vary is not trusted as the sole partition, because its
        correctness depends on every layer agreeing and CloudFront honours
        Vary only for Accept-Encoding; a tier-dependent body must therefore
        not be storable by a shared cache at all. The ETag is still issued,
        so a caller can revalidate a copy it holds itself. See
        security.md 4.10 (T-13).
      schema:
        type: string
        example: "private, no-store"
    CacheControlNoStore:
      description: Never cached, by any cache, at any layer.
      schema:
        type: string
        example: "no-store"
    XRateLimitLimit:
      schema: { type: integer }
    XRateLimitRemaining:
      schema: { type: integer }
    XRateLimitReset:
      description: Unix timestamp when the rate-limit window resets.
      schema: { type: integer }
    Vary:
      description: >-
        Always "Authorization, X-API-Key" on a cacheable response, as the
        second line of defence rather than the first: an authenticated
        response is already private, no-store, and this is what stops a
        layer that ignores no-store, or a shared anonymous entry, from being
        reused for a caller who sent a credential. It is set on every
        cacheable response rather than only the tier-dependent one, because
        getting a per-endpoint decision wrong fails silently, and the
        traffic that matters for hit rate -- the public website -- sends
        neither header, so anonymous responses still share one cache entry.
      schema:
        type: string
        example: "Authorization, X-API-Key"
    RetryAfter:
      description: Seconds until a retry is likely to succeed.
      schema: { type: integer }

  responses:
    BadRequest:
      description: The request was invalid.
      headers:
        X-Request-Id: { $ref: "#/components/headers/XRequestId" }
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Unauthorized:
      description: >-
        A credential was presented and could not be used. The `type` member
        separates the two cases: `unauthorized` when nothing usable was sent
        (an Authorization header that is not a bearer token) or the
        deployment cannot check keys at all, and `invalid-api-key` when a
        well-formed key does not resolve to a live, non-revoked row. These
        are read endpoints, so sending no credential at all is not an error
        -- it is the anonymous caller the public website uses.
      headers:
        X-Request-Id: { $ref: "#/components/headers/XRequestId" }
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: The key's account is not active, or its plan does not reach this endpoint.
      headers:
        X-Request-Id: { $ref: "#/components/headers/XRequestId" }
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: The requested resource does not exist.
      headers:
        X-Request-Id: { $ref: "#/components/headers/XRequestId" }
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    TooManyRequests:
      description: Rate limit or quota exceeded.
      headers:
        X-Request-Id: { $ref: "#/components/headers/XRequestId" }
        Retry-After: { $ref: "#/components/headers/RetryAfter" }
        X-RateLimit-Limit: { $ref: "#/components/headers/XRateLimitLimit" }
        X-RateLimit-Remaining: { $ref: "#/components/headers/XRateLimitRemaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/XRateLimitReset" }
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    DatePrecision:
      type: string
      enum: [exact_day, month_only, year_only, unknown]
      description: >-
        Governs how the paired date field is rendered: YYYY-MM-DD for
        exact_day, YYYY-MM for month_only, YYYY for year_only, and the
        date field is omitted entirely for unknown. Always present
        alongside its date field. See docs/architecture/api.md, "Date
        rendering discipline".

    Channel:
      type: string
      enum: [stable, long_term, testing, development]

    SourceKind:
      type: string
      enum: [html, text, json, xml, pdf, rss_atom]

    VendorSummary:
      type: object
      required: [slug, name]
      properties:
        slug: { type: string, example: mikrotik }
        name: { type: string, example: MikroTik }

    ProductSummary:
      type: object
      description: >-
        A product reference a consumer can follow: slug and name are both
        guaranteed. Every producer of this shape resolves a real product row —
        a `runs` entry with no slug is dropped by the presenter rather than
        rendered as an unfollowable name.
      required: [slug, name]
      properties:
        slug: { type: string, example: mikrotik-routeros }
        name: { type: string, example: RouterOS }

    ProductFamilySummary:
      type: object
      # slug is deliberately NOT required, and it is never sent. A family slug is
      # unique per vendor rather than globally and there is no family route for one to
      # resolve on, so ProductDTO's family carries a name alone (api.md 3.2, ADR-0024).
      # This is a separate schema from ProductSummary rather than a relaxation of it:
      # weakening ProductSummary would drop the slug guarantee from `runs`, which is
      # the one array whose whole purpose is being followable.
      description: >-
        A product family reference. It carries a name and no slug: family slugs
        are unique per vendor rather than globally and no route resolves one, so
        a slug here would be an identifier that points at nothing.
      required: [name]
      properties:
        name: { type: string, example: "ARM 32bit" }

    Vendor:
      type: object
      # productCount and lastVerifiedAt are aggregate facts domain.Vendor does not
      # carry, so PresentVendor has never sent either and VendorDTO types both as
      # omitempty pointers on purpose ("an absent key says 'not known here'; a zero
      # productCount would say 'this vendor has no products', which is a different and
      # usually false claim"). Listing them as required documented a contract the API
      # has never honoured, and a client that believed it crashed on the first vendor
      # it rendered. They stay in properties, described as optional, so that the read
      # model which will supply them has a declared shape to fill.
      # website joins them, for the same reason and by the same class of error: a
      # vendor whose registry document sets no homepage_url has never had the key sent,
      # because VendorDTO.Website is omitempty, and packages/schemas/vendor.schema.json
      # does not require homepage_url either. Demonstrated against the running API.
      required: [slug, name]
      properties:
        slug: { type: string, example: mikrotik }
        name: { type: string, example: MikroTik }
        website:
          type: string
          format: uri
          example: "https://mikrotik.com"
          description: >-
            The vendor's homepage. Omitted entirely when the registry records
            none — never an empty string.
        productCount: { type: integer, minimum: 0 }
        lastVerifiedAt: { type: string, format: date-time }

    VendorListResponse:
      type: object
      required: [vendors, pagination]
      properties:
        vendors:
          type: array
          items: { $ref: "#/components/schemas/Vendor" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    OfficialSource:
      type: object
      required: [url, kind, official]
      properties:
        url: { type: string, format: uri }
        kind: { $ref: "#/components/schemas/SourceKind" }
        official: { type: boolean }

    Conflict:
      type: object
      description: >-
        The specific disagreement behind hasSourceConflict: which channel and
        versions are disputed, how many sources report a value FirmScout does
        not outrank, and when it was first detected (ADR-0020). Additive
        alongside hasSourceConflict, never a replacement for it -- hasSourceConflict
        answers "is something disputed", this answers "what, exactly". It is
        `null` whenever hasSourceConflict is false, and it is also `null`,
        honestly rather than defensively, for a product computed before this
        field existed or for a conflict the detector has not finished
        recording a channel and versions for: FirmScout never fabricates a
        detail object just to make the two fields agree.
      # channel is required because it is always sent: the empty string here is a real,
      # documented value ("the disputing sources stated no channel"), and ProductConflictDTO
      # carries no omitempty on it precisely so that value survives to the wire.
      required: [channel, versions, sourceCount, detectedAt]
      properties:
        channel:
          type: string
          description: Empty when the disputing sources stated no channel.
          example: stable
        versions:
          type: array
          items: { type: string }
          minItems: 2
          description: >-
            The normalised versions in dispute, sorted -- always at least two,
            since a disagreement with one participant is not one.
          example: ["7.24.1", "7.24.2"]
        sourceCount:
          type: integer
          minimum: 2
          description: >-
            How many sources are party to the disagreement. Their identities
            are internal registry detail, not something a public consumer
            acts on, so only the count is exposed.
          example: 2
        detectedAt: { type: string, format: date-time }

    ReleaseSummary:
      type: object
      # channel is omitted, not empty, when the release carries none -- the field is
      # omitempty on both ReleaseSummaryDTO and ReleaseDTO -- so requiring it documented
      # a contract the API does not honour. Same correction class as releaseType,
      # lastVerifiedAt, productCount, category and website elsewhere in this document.
      required: [id, rawVersion, releaseDatePrecision]
      properties:
        id: { type: string, example: "rel_01J8Z3K9QWERTYUIOPASDFGH" }
        rawVersion: { type: string, example: "7.24.2" }
        channel:
          allOf: [{ $ref: "#/components/schemas/Channel" }]
          description: Omitted entirely when the release states no channel.
        releaseDate:
          type: string
          description: >-
            Rendered per releaseDatePrecision; omitted entirely when
            precision is "unknown".
          example: "2026-09-02"
        releaseDatePrecision: { $ref: "#/components/schemas/DatePrecision" }

    OwnReleases:
      type: object
      required: [mapped, releaseCount]
      description: >-
        Whether the releases this response carries are mapped to this product
        itself, and how many there are. A mapping fact, not a verification —
        which is why the key is `mapped` and not `verified`. See Applicability.
      properties:
        mapped:
          type: boolean
          description: >-
            True when at least one non-withdrawn release is mapped to this
            product, so `latestRelease` and GET /products/{slug}/releases are
            this product's own releases rather than empty.
        releaseCount:
          type: integer
          minimum: 0
          description: How many non-withdrawn releases are mapped to this product.

    Applicability:
      type: object
      required: [verified, basis, ownReleases]
      description: >-
        Whether the releases this response carries are known to apply to this
        product. Always present, never an omitted key: an absent value would
        read as "they apply", and "we have not verified which firmware image
        this model takes" is a different claim from "every release of its
        operating system applies". See ADR-0024.


        It answers two independent questions and keeps them apart. `verified`
        and `basis` answer "which of another product's releases apply to this
        exact model"; `ownReleases` answers "are the releases shown here this
        product's own". A product can need both answered — a rack server is a
        device AND publishes its own BIOS versions — and collapsing them into
        one scalar made the device half of such a product silently vouch for
        the operating-system half.
      properties:
        verified:
          type: boolean
          description: >-
            True only when no unestablished applicability claim stands against
            the releases this response carries. A release mapped to this
            product never sets it: `basis` is decided by the `runs` edge first,
            so a product that publishes its own releases AND runs an operating
            system reports false, with `ownReleases.mapped` true beside it.
        basis:
          enum: [own_releases, runs_os_unverified, none_recorded]
          description: >-
            own_releases — no other product's releases are in play: releases are
            mapped to this product and it runs nothing catalogued here, so no
            per-model question is open. runs_os_unverified — this product runs an
            operating system that publishes releases and FirmScout has not
            established which of them apply to this exact model; it says nothing
            about whether this product also publishes releases of its own, which
            `ownReleases` answers separately. none_recorded — neither is true yet.
        ownReleases: { $ref: "#/components/schemas/OwnReleases" }

    Product:
      type: object
      # releaseType and lastVerifiedAt are deliberately NOT required, and their absence
      # from this list is a correction rather than an omission. Both were listed as
      # required while every catalogued product was a software product that had a
      # release stream and a collector that had checked it. A hardware model has
      # neither -- its releases belong to the operating system it runs, and its facts
      # come from the reviewed registry rather than from a source check -- so the
      # handler omits both keys for a device (ADR-0024 D1, D4). Leaving them required
      # would document a contract the API does not honour, which is worse than the bug
      # it hides: a generated client would type them non-optional and 500 on the first
      # device, which is exactly what happened to the web app's product and search
      # pages before this was corrected.
      # category joins them, and by the same demonstration: a product whose registry
      # document carries no category_slugs has never had the key sent, because
      # ProductDTO.Category is omitempty and packages/schemas/product.schema.json makes
      # category_slugs optional.
      #
      # latestRelease, conflict and aliases are ADDED, which is the same correction in
      # the other direction: all three carry no omitempty and are sent on every product
      # -- an explicit null, an explicit null and an empty array -- and leaving them out
      # of this list understated a guarantee the API does keep.
      required:
        - slug
        - name
        - vendor
        - modelIdentifier
        - runs
        - aliases
        - firmwareApplicability
        - latestRelease
        - officialSources
        - hasSourceConflict
        - conflict
      properties:
        slug: { type: string, example: mikrotik-routeros }
        name: { type: string, example: RouterOS }
        vendor: { $ref: "#/components/schemas/VendorSummary" }
        family:
          oneOf:
            - { type: "null" }
            - { $ref: "#/components/schemas/ProductFamilySummary" }
        modelIdentifier:
          description: >-
            The vendor's own product code for a hardware model — the string a
            fleet inventory holds — or null. Always present: a consumer must be
            able to tell "this is not a hardware model" from a key that was
            simply not sent.
          oneOf:
            - { type: "null" }
            - { type: string, example: CRS328-24P-4S+RM }
        runs:
          type: array
          description: >-
            Products this product runs, most usefully the operating system a
            hardware model runs. A navigation claim only: it says where the
            releases are published, never which of them apply to this model.
            Empty rather than null when there are none.
          items: { $ref: "#/components/schemas/ProductSummary" }
        aliases:
          type: array
          description: >-
            Other strings this product is known by — marketing names, typeable
            spellings, and above all the vendor's model number, which is the
            string a fleet inventory holds and, per ADR-0024, the thing that
            makes a device findable at all. Raw alias text, never the normalised
            form. Empty rather than null when there are none.
          items: { type: string }
          example: ["C53UiG+5HPaxD2HPaxD", "hAP ax3"]
        firmwareApplicability:
          $ref: "#/components/schemas/Applicability"
        category:
          type: string
          example: network_device_os
          description: >-
            The product's first category slug. Omitted entirely for a product in
            no category — never an empty string.
        releaseType: { type: string, example: embedded_os }
        latestRelease:
          oneOf:
            - { type: "null" }
            - { $ref: "#/components/schemas/ReleaseSummary" }
        officialSources:
          type: array
          items: { $ref: "#/components/schemas/OfficialSource" }
        hasSourceConflict:
          type: boolean
          description: >-
            True when eligible sources disagree about this product's newest
            version and no human has resolved it yet (ADR-0020). Always
            present: an absent key would read as "no conflict", and "we
            checked and they agree" is a different claim from "we did not
            check".
        conflict:
          description: >-
            The detail behind hasSourceConflict when there is any to give;
            null otherwise. See Conflict.
          oneOf:
            - { type: "null" }
            - { $ref: "#/components/schemas/Conflict" }
        lastVerifiedAt: { type: string, format: date-time }

    Evidence:
      type: object
      # retrievedAt is omitted when the evidence row records no retrieval instant --
      # EvidenceDTO.RetrievedAt is an omitempty pointer, rendering an absent key rather
      # than the year 1 -- so requiring it claimed a guarantee the API does not make.
      required: [excerpt]
      properties:
        retrievedAt:
          type: string
          format: date-time
          description: Omitted when no retrieval instant was recorded.
        excerpt:
          type: string
          maxLength: 500
          description: A concise excerpt kept for verification, never a full document.

    ReleaseSource:
      type: object
      required: [official, url, kind]
      properties:
        official: { type: boolean }
        url: { type: string, format: uri }
        kind: { $ref: "#/components/schemas/SourceKind" }

    Release:
      type: object
      # product, channel, firstObservedAt and lastVerifiedAt are all omitempty on
      # ReleaseDTO and all four are genuinely omitted in reachable cases: `product` on
      # LatestReleaseResponse.latestRelease (the enclosing object already names the
      # product) and on GET /releases/{id} when the mapping was deleted out from under
      # the release, `channel` when the release states none, and the two timestamps when
      # nothing recorded them. Requiring them documented a contract the API does not
      # honour, which is the class of lie already corrected for releaseType,
      # lastVerifiedAt on Product, productCount, category and website.
      required:
        - id
        - rawVersion
        - normalizedVersion
        - releaseType
        - releaseDatePrecision
        - recommended
        - withdrawn
        - correctsReleaseId
        - source
        - evidence
      properties:
        id: { type: string, example: "rel_01J8Z3K9QWERTYUIOPASDFGH" }
        product:
          description: >-
            The product this release belongs to. Omitted where the enclosing
            object already names it, and where it could not be resolved — never
            filled in with a guess.
          allOf: [{ $ref: "#/components/schemas/ProductSummary" }]
        rawVersion: { type: string, example: "7.24.2" }
        normalizedVersion: { type: string, example: "7.24.2" }
        releaseType: { type: string, example: embedded_os }
        channel:
          allOf: [{ $ref: "#/components/schemas/Channel" }]
          description: Omitted entirely when the release states no channel.
        releaseDate:
          type: string
          description: >-
            Rendered per releaseDatePrecision; omitted entirely when
            precision is "unknown". Never an invented day or month.
          example: "2026-09-02"
        releaseDatePrecision: { $ref: "#/components/schemas/DatePrecision" }
        recommended:
          type: ["boolean", "null"]
          description: >-
            null unless the vendor explicitly designated this version as
            recommended. Never inferred by picking the newest release.
        withdrawn: { type: boolean }
        correctsReleaseId:
          oneOf:
            - { type: "null" }
            - { type: string }
        source: { $ref: "#/components/schemas/ReleaseSource" }
        evidence: { $ref: "#/components/schemas/Evidence" }
        firstObservedAt:
          type: string
          format: date-time
          description: Omitted when nothing recorded a first observation.
        lastVerifiedAt:
          type: string
          format: date-time
          description: Omitted when no source check has verified this release.

    HistoryWindow:
      type: object
      description: >-
        Whether this page of history is the whole archive or a slice of it.
        api.md 1 forbids hiding a field from a tier; it does not forbid
        windowing, but a consumer who cannot distinguish a windowed history
        from a complete one has been misled by omission. Always present.
      required: [windowed]
      properties:
        windowed:
          type: boolean
          description: >-
            True for anonymous, free, and any unrecognised plan; false for
            Professional and above.
        since:
          type: string
          format: date-time
          description: >-
            The earliest release this page could contain. Present only when
            windowed is true.


            The comparison is over-inclusive by design. A release whose date
            the vendor published at month or year precision is tested at the
            *end* of the period that precision denotes, not at its stored
            anchor, and both sides are reduced to a UTC calendar day. So a
            release dated "2025" is inside a window opening 2025-09-05,
            because the vendor may have shipped it in December; a release
            dated "2025-09" is inside it for the same reason; and a release
            dated exactly 2025-09-05 is inside it, while 2025-09-04 is not.
            Treating the stored 1 January or day-1 anchor as the date would
            assert a day the vendor never published (ADR-0017) and would
            silently drop releases the caller is entitled to see. Showing one
            extra release discloses nothing a coarser precision did not
            already disclose; hiding one is a correctness failure the page
            cannot reveal.
          example: "2025-09-05T00:00:00Z"
        latestOutsideWindow:
          type: boolean
          description: >-
            True when this product's newest observed release is older than
            `since`, which is what makes an empty page readable: the product
            did not stop shipping, its history simply predates the window,
            and GET /products/{slug}/latest still reports that release
            because it is never windowed. Present only when windowed is
            true. It is claimed only when the vendor's own date puts the
            release outside at every precision that date could denote, and it
            applies exactly the comparison `since` describes -- period end
            against the boundary's UTC calendar day -- so the flag and the
            page can never contradict each other. An undated release is never
            claimed at all: those are windowed by first-observed time, which
            this response does not carry.
        detail:
          type: string
          description: >-
            A sentence naming the plan that lifts the window, and naming the
            latest-release endpoint when latestOutsideWindow is true.
            Present only when windowed is true.

    ReleaseListResponse:
      type: object
      required: [releases, pagination, window]
      properties:
        releases:
          type: array
          items: { $ref: "#/components/schemas/Release" }
        pagination: { $ref: "#/components/schemas/Pagination" }
        window: { $ref: "#/components/schemas/HistoryWindow" }

    LatestReleaseResponse:
      type: object
      # conflict is required because it is always sent: LatestReleaseResponse.Conflict
      # carries no omitempty, so it is an explicit null rather than a dropped key, the
      # same rule Product.conflict follows.
      required: [vendor, product, latestRelease, recommendedRelease, hasSourceConflict, conflict]
      properties:
        vendor: { $ref: "#/components/schemas/VendorSummary" }
        product: { $ref: "#/components/schemas/ProductSummary" }
        latestRelease: { $ref: "#/components/schemas/Release" }
        recommendedRelease:
          description: >-
            The vendor's own designated release, or null when the vendor
            never designated one. It is a separate member from latestRelease
            because the two are often different releases: the newest version
            is not automatically the safest, and FirmScout never substitutes
            one for the other.
          oneOf:
            - { type: "null" }
            - { $ref: "#/components/schemas/Release" }
        hasSourceConflict:
          type: boolean
          description: >-
            True when eligible sources disagree about this product's newest
            version and no human has resolved it yet (ADR-0020). Always
            present: this is the endpoint that answers "what version should I
            be on?", and returning a contested version with no flag to check
            is the outcome recording a disagreement exists to prevent.
        conflict:
          description: >-
            The detail behind hasSourceConflict when there is any to give;
            null otherwise. Same meaning as Product.conflict. See Conflict.
          oneOf:
            - { type: "null" }
            - { $ref: "#/components/schemas/Conflict" }

    SearchResultItem:
      type: object
      required: [type, slug, name, matchedOn]
      properties:
        type:
          type: string
          enum: [product, vendor]
        slug: { type: string }
        name: { type: string }
        modelIdentifier:
          type: string
          description: >-
            The vendor's product code, echoed back on a hit so a fleet manager
            who pasted the string stamped on the chassis can see this row is the
            thing they hold. Omitted for products that are not hardware models.
          example: CRS328-24P-4S+RM
        vendor:
          oneOf:
            - { type: "null" }
            - { $ref: "#/components/schemas/VendorSummary" }
        matchedOn:
          type: string
          enum: [name, alias, vendor]

    SearchResponse:
      type: object
      required: [results, pagination]
      properties:
        results:
          type: array
          items: { $ref: "#/components/schemas/SearchResultItem" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    Pagination:
      type: object
      required: [nextCursor]
      properties:
        nextCursor:
          oneOf:
            - { type: "null" }
            - { type: string }
          description: >-
            Opaque cursor token, or null when the list is exhausted. Never
            constructed or decoded by a consumer.

    HealthStatus:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, degraded, unavailable]

    Problem:
      type: object
      description: RFC 9457 application/problem+json.
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          description: >-
            One of the catalogue in docs/architecture/api.md 6. The set is
            closed: a consumer may branch on these values, and a URI is
            never respelled without a version bump.
          enum:
            - "https://firmscout.dev/problems/not-found"
            - "https://firmscout.dev/problems/invalid-parameter"
            - "https://firmscout.dev/problems/validation-failed"
            - "https://firmscout.dev/problems/unauthorized"
            - "https://firmscout.dev/problems/invalid-api-key"
            - "https://firmscout.dev/problems/forbidden"
            - "https://firmscout.dev/problems/conflict"
            - "https://firmscout.dev/problems/rate-limited"
            - "https://firmscout.dev/problems/quota-exceeded"
            - "https://firmscout.dev/problems/internal-error"
            - "https://firmscout.dev/problems/service-unavailable"
          example: "https://firmscout.dev/problems/not-found"
        title: { type: string, example: "Resource not found" }
        status: { type: integer, example: 404 }
        detail: { type: string }
        instance: { type: string }
        requestId:
          type: string
          description: FirmScout extension member, equal to the X-Request-Id header.
